* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: none;
}

/* CSS Variables */
:root {
    --primary-color: #92CCCD;
    --secondary-color: #31343D;
    --tertiary-color: #445876;
}

body {
    color: var(--tertiary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ededf6;
    margin-bottom: 14px;
}

/* Header Styles */
header {
    padding: 7px 60px 12px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0 11px 0 60px;
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 7px 0;
}

header nav ul li {
    padding: 6px;
}

.nav-btn {
    padding: 3px 7px;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 4px solid var(--primary-color);
    /* Code for animated background based on https://stackoverflow.com/questions/51562340/css-background-fills-on-hover-from-bottom-to-top */
    background-image: linear-gradient(to top, var(--primary-color) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.25s ease-in-out;
}

.nav-btn:hover {
    background-position: bottom;
    color: var(--secondary-color);
}

/* Hero Styles */
.hero {
    height: 270px;
    padding: 18px 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
}

.subtitle {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px;
    font-size: 19px;
}

/* Main Page Styles */
.anchor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 28px 72px 0 0;
}

.section-title {
    padding: 0 12px 0 48px;
    width: 248px;
}

.section-title h2 {
    font-size: 45px;
    color: var(--tertiary-color);
    text-align: right;
    line-height: 1.1;
}

.content {
    width: calc(100% - 248px);
    padding-left: 28px;
    border-left: 4px solid var(--tertiary-color);
}

.content p {
    font-size: 16px;
    line-height: 1.7;
}

/* Work Section Styles */
#showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.application {
    border: 4px solid var(--primary-color);
    width: calc(50% - 7px);
    margin-bottom: 14px;
    background-color: var(--secondary-color);
    position: relative;
}

.app-image {
    display: block;
    height: 160px;
    width: 100%;
    object-fit: cover;
    object-position: top left;
    opacity: 0.67;
}

.app-image:hover {
    opacity: 1;
    transition: opacity .5s ease-out;
}

.application a div div {
    background-color: var(--primary-color);
    padding: 8px;
    position: absolute;
    top: 70px;
}

/* Featured Program Styles */
.application:first-child {
    width: 100%;
}
.application:first-child a div img {
    height: 320px;
    width: 100%;
}

.application:first-child a div div {
    top: 230px;
}

/* Align bottom borders with left-hand line */
.application:last-child, .application:nth-last-child(2) {
    margin-bottom: 0px;
}

.app-description h3 {
    font-size: 24px;
    color: var(--secondary-color)
}

.app-description p {
    font-size: 16px;
    line-height: 1.7;
    color: var(--secondary-color)
}

/* Contact Info Section Styles */
#contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 0 7px 0;
    padding: 2.5vw 0;
}

#contact-info ul li {
    padding: 6px;
}

.contact-btn {
    padding: 3px 7px;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 4px solid var(--tertiary-color);
    background-image: linear-gradient(to top, var(--tertiary-color) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.25s ease-in-out;
}

#contact-info ul li a:hover {
    background-position: bottom;
    color: #ededf6;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header h1, .section-title h2 {
        font-size: 38px;
    }

    .nav-btn, .contact-btn {
        font-size: 17px;
    }

    .anchor {
        margin-right: 60px;
    }
    
    .section-title {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px)
    }
    .app-description h3 {
        font-size: 20px;
    }

    .app-description p {
        font-size: 13px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        padding-right: 0;
    }
    
    header h1 {
        padding-right: 60px;
    }
    
    nav {
        padding: 0 25px;
    }

    .content p {
        font-size: 14px;
    }

    .application {
        width: 100%;
    }

    .application:first-child a div img {
        height: 240px;
    }

    .application:first-child a div div {
        top: 150px;
    }

    .application:nth-last-child(2) {
        margin-bottom: 14px;
    }

    #contact-info ul {
        justify-content: flex-start;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header h1 {
        padding: 0 20px;
        text-align: center;
    }

    header nav ul {
        justify-content: center;
    }

    .nav-btn, .contact-btn {
        border-bottom: 2px solid;
    }

    .hero {
        padding: 20px 20px 20px 160px;
    }

    .subtitle {
        font-size: 17px;
    }

    .anchor {
        margin-right: 0px;
    }

    .section-title {
        padding-left: 10px;
        padding-right: 10px;
        width: 60px;
    }

    .section-title h2 {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        padding: 0;
        width:
    }

    .content {
        width: calc(100% - 60px);
        padding-left: 14px;
        padding-right: 14px;
    }

    .application {
        border: 2px solid var(--primary-color);
    }
    .application a div img {
        height: 152px;
    }

    .application:first-child a div img {
        height: 228px;
    }

    #contact-info ul {
        margin-bottom: 60px;
    }

    #contact-info ul li {
        margin-bottom: 10px;
    }
}